{% extends 'students/base.html' %}
{% load staticfiles %}
{% block title %}Index page{% endblock %}
{% block container %}
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <caption>Groups information table</caption>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Group students amount</th>
                    <th>Praepostor</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for group, students_amount in groups_information_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{{ group.get_absolute_url }}">{{ group.title|capfirst }}</a></td>
                        <td>{{ students_amount }}</td>
                        <td>
                            {% if group.praepostor %}
                                <a href="{{ group.praepostor.get_absolute_url }}">{{ group.praepostor }}</a>
                            {% else %}
                                There is no praepostor for this group
                            {% endif %}
                        </td>
                        <td><a class="btn-link" href="{% url 'update_group' group_id=group.id %}">update</a></td>
                        <td><a class="btn-link" href="{% url 'delete_group' group_id=group.id %}" delete-link="true">delete</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">There are no groups yet.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}