{% extends 'students/base.html' %}
{% load staticfiles %}
{% block title %}Index page{% endblock %}
{% block container %}
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <caption>Groups information table</caption>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Group students amount</th>
                    <th>Praepostor</th>
                </tr>
                </thead>
                <tbody>
                {% for group, students_amount in groups_information_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{{ group.get_absolute_url }}">{{ group.title|capfirst }}</a></td>
                        <td>{{ students_amount }}</td>
                        <td>{{ group.praepostor }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">There are no groups yet.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}