{% extends 'students/base.html' %}
{% load staticfiles %}
{% block title %}{{ title|capfirst }}{% endblock %}
{% block container %}
    {% with form_id="id_login_form" %}
        <div class="container">

            <h1>{{ title|capfirst }}</h1>
            {% include 'students/parts/form_snippet.html' with form=form form_action=action from_id=form_id %}
            <input type="hidden" name="next" value="{{ next }}" form="{{ form_id }}"/>
        </div>
    {% endwith %}
{% endblock container %}