{% extends 'students/base.html' %}
{% load staticfiles %}
{% block title %}Index page{% endblock %}
{% block container %}
    <div class="container">
        <h1>{{ group.title|capfirst }}</h1>

        <div class="table-responsive">
            <table class="table">
                <caption>Group information table</caption>
                <thead>
                <tr>
                    <th>#</th>
                    <th>First name</th>
                    <th>Middle name</th>
                    <th>Surname</th>
                    <th>Birthday date</th>
                    <th>Student card ID</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for student in group_students %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ student.first_name|capfirst }}</td>
                        <td>{{ student.middle_name|capfirst }}</td>
                        <td>{{ student.surname }}</td>
                        <td>{{ student.birthday_date|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{{ student.student_card_id }}</td>
                        <td><a class="btn-link" href="{{ student.get_absolute_url }}">info</a></td>
                        <td><a class="btn-link" href="{% url 'update_student' student_id=student.id %}">update</a></td>
                        <td><a class="btn-link" href="{% url 'delete_student' student_id=student.id %}"
                               delete-link="true">delete</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="text-center" colspan="9">There are no students in this group yet.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}