{% extends 'students/base.html' %}
{% load staticfiles %}
{% block title %}Index page{% endblock %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'students/css/jquery-ui.css' %}">
{% endblock %}
{% block container %}
    <div class="container">
        <h1>Create student</h1>
        {% url 'create_student' as form_url %}
        {% include 'students/parts/form_snippet.html' with form=form form_action=form_url %}
    </div>
{% endblock %}
{% block extra_script %}
    <script src="{% static 'students/js/jquery-ui.js' %}"></script>
    <script>
        $('.datepicker').datepicker();
    </script>
{% endblock %}