{% extends 'students/base.html' %}
{% load staticfiles %}
{% block title %}Student info{% endblock %}
{% block container %}
    <div class="container">
        <h2>Student #{{ student.id }} info</h2>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 ">
                    <label class="col-sm-3" control-label>First name:</label>

                    <span class="text-info">{{ student.first_name|capfirst }}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 ">
                    <label class="col-sm-3" control-label>Middle name:</label>

                    <p class="text-info">{{ student.middle_name|capfirst }}</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 ">
                    <label class="col-sm-3" control-label>Surname:</label>

                    <p class="text-info">{{ student.surname|capfirst }}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 ">
                    <label class="col-sm-3" control-label>Birthday date:</label>

                    <p class="text-info">{{ student.birthday_date|date:"SHORT_DATE_FORMAT" }}</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 ">
                    <label class="col-sm-3" control-label>Student card ID:</label>

                    <p class="text-info">{{ student.student_card_id }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
{% endblock %}