{% load staticfiles %}
{% load widget_tweaks %}
<form action="{{ form_action }}" class="form-horizontal col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-3"
      role="form" method="post" id="{{ form_id }}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="form-group">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 ">
                {{ field.label_tag }}
                {{ field|add_class:"form-control" }}
            </div>
        </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 ">
            <button type="submit" class="btn btn-block btn-success">Submit</button>
        </div>
    </div>
</form>